<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>New Contact</title>
</head>
<body>
<h1> New Contact </h1>


<form action="/contacts" method="post">
<input type="text"name="id">    
<input type="text"name="first_name">    
<input type="text"name="last_name">    
<input type="text"name="email_name">    
<input type="text"name="note">    

<input type="submit" name="submit">
</form>
</body>
</html>
