<!DOCTYPE html>
<html>
<head>
  <title> <%= @title %> </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>


  <div heading ="container">
    <header>
            <center>
          <h1> Welcome to My CRM Application </h1>
            </center>
    </header>
  </div>
     
  <div time="container">
        
    <h3>Current Time &amp; Date: <%= Time.now.ctime %></h3>
  
  </div>

  <div class="nav">
  <div class ="container">

    <nav>
      <p>Main menu</p>
      <ul>
        <li><a href="/contacts">View all contacts</a></li>
        <li><a href="/contacts/new">Add a new contact</a></li>
      </ul>
    </nav>
  </div>
  </div>

  <div class="jumbotron">
  <div class="container">
      <main>
        <%= yield %>
      </main>
    </div>
  </div>

  <div class="foot">
  <div class="container">
    <footer>
      <p> Raza &copy;BitMaker Labs &copy; 2015 </p>
    </footer>

  </div>
  </div>
</body>
</html>
