<!DOCTYPE html>
<html>
<head>
  <title> <%= @title %> </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>





  <div heading ="container">
    <header>
            <center>
          <h1> Welcome to My CRM Application </h1>
            </center>
    </header>
  </div>
     

  <div class="nav">
  <div class ="container">

    <nav>
      <h3>Main menu</h3>
      <ul>

        <li><a href="/contacts">View all contacts</a></li>
        <li><a href="/contacts/new">Add a new contact</a></li>
      
  

  
          
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Help</a></li>
        </ul>    
        </nav>

        </div>
        </div>

  <div class="jumbotron">
  <div class="container">
      <main>
        <%= yield %>
      </main>
    </div>
  </div>




    
  

 

      <div class="logo">
      <div class="container">
      <div class="pull-down">
        <style>.xg_module_body img {margin:0!important;}</style>
<div align="center"><table cellpadding="0" width="156" cellspacing="0"><tr>
<td><a href="http://www.facebook.com/pages/yourfanpage/12345678" target="_blank"><img src="http://api.ning.com/files/yK4NcMrBlofWleqeABbNHR-JwhBMxMRlC7NRM0KCYhLk4i-pqoO0AYXzAp3bKHf0IYIP3Qjn0GVzm5V1Gv56dUqaq68hdmSW/facebooks1_60.png" alt="Join Our Facebook Fan Page" width="48" height="48" border="0"></a></td>

<td><a href="http://www.myspace.com/yourpage" target="_blank"><img src="http://api.ning.com/files/wAuKxtsvHJwI1u2yJicBh2aJkOFs3BL79bkvGpW40UpCPv9pS7JwYNtTtNjNql8cRuqU-zGBZkC2NsCiM9T*dLbKRSlPML5b/myspaces1_60.png" alt="Check Us Out On MySpace" width="48" height="48" border="0"></a></td>

<td><a href="http://twitter.com/yourtwitter" target="_blank"><img src="http://api.ning.com/files/vwYvIcXARnCDb7rmTyv-ajyO2kvmHyKJ813N8CvFCImegtIaEvi9NeRhZ1RWCqojSEvAqmOzVNsoWX4HPus6Zwt-nMYOBXWU/twitters1_60.png" alt="Follow Us On Twitter" width="48" height="48" border="0"></a></td>
</tr>
</table>
</div>

<div class="foot">
  <div class="container">
    <footer>
      <p> Raza &copy;BitMaker Labs &copy; 2015 </p>

</div>
</div>
    </footer>



  
  </div>
  </div>
</body>
</html>
