<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>New Contact</title>
</head>
<body>

<center>
  <h1> Add a New Contact </h1>
</center>

<center>
<form action="/contacts" method="post">

  <table>
    
<tr>  <td><label>  ID:          </label></td>     <td> <input type="text"name="id"> </td> </tr>
    
<tr> <td><label> First Name:   </label></td>     <td> <input type="text"name="first_name"> </td>  </tr> 
   
<tr>  <td><label> Last Name:    </label></td>     <td> <input type="text"name="last_name">  </td>   </tr>
    
<tr> <td><label> Email:        </label></td>     <td> <input type="Email"name="email">  </td>   </tr>
  
<tr><td><label> Notes:        </label></td>     <td> <input type="text"name="note">  </td>    </tr>
    
<td>                            <input type="submit" name="submit"> </td> 

</table>
</form>
</center>
</body>
</html>
