

  * {
      color: #FF0000;
      font-family: Verdana, Arial, san-serif;

  }
  
  .foot {
    color: transparent;
    text-align: center;
  border: 400px;
  }
  
  

   body {
  background-image:url('http://ift.tt/1re5Rgy');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.time {
  color: white;
}

.logo {

  margin: 400px;
}