<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> <%= @title %></title>

  <meta title="og:title" content="Bitmaker Labs //HTML CSS intro">     
</head>


</style>
<body>


<!-- Use to comment out code/text in html

<div id="header"></div>
<div id="menu"></div>
<div id="content"></div>
<div id="footer"></div>

-->
  
<header> 
  <h1 class= "highlighted" id= "page-tit"> HTML &amp; CSS Intro on <%= @time %> by <%= @word %> </h1>
  <h2> Everything you need to know about HTML &amp; CSS </h2> 
</header>




</body>
</html>