<!-- This is file contains the code that was coppied from 
    The file index.erb to showcase how to use <% yield %> to 
    to attach this file to the main.rb
    This is done at the botom of the page inbetween <body> tags

-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> <%= @title %></title>

  <meta title="og:title" content="Bitmaker Labs //HTML CSS intro">  

    <link rel="stylesheet" type="/style1.css" href="">     

<!-- Link is needed to include the  CSS file from the Public Directory -->

</head>


<nav>
    <ul>

    <!--
        <% 5.times do |num| %>
          <li> Menu <% num + 1 %> </li>
          <% end %>

          <% @animals.each do |animal | %>
            <li> Menu <%= animal %> </li>li>
            <% end %>

      The above code will do what I have belove using RUBY code

    -->
      <li>Menu 1</li>
      <li>Menu 2</li>
      <li>Menu 3</li>
      <li>Menu 4</li>
      <li>Menu 5</li>
    

    </ul>
</nav>



<main>

  <p>Lorem ipsum dolor sit amet, <a href="http://google.ca">consectetur</a> adipisicing elit. Error pariatur illo, temporibus minus quae. Distinctio quo, excepturi reiciendis, facilis sunt illum optio consequatur reprehenderit consequuntur repudiandae, earum officia sequi labore.
  </p>

  <article>
    <header>
      <h2> Subtitle </h2>
    </header>
  </article>


    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, architecto quis? Numquam ab adipisci obcaecati, quos voluptatibus, beatae, dolorem cupiditate amet illo nesciunt quidem dolores, itaque perferendis! Quasi ut, debitis? </p>

</main>



<%= yield %>


<footer>
  <p>Bitmaker Labs &copy;2015</p>
</footer>


</body>
</html>
